
<header class="jumbotron text-center p-4 ">
 <h1>{{title}}</h1>

</header>

<nav class="col-md-12 row p-3 bg-dark">


<a class="nav-item nav-link" routerLink="viewMovie">view movie</a><br>
<a class="nav-item nav-link" routerLink="viewTheatre">view theatre</a><br>
<a class="nav-item nav-link" routerLink="viewScreen">view screen</a><br>
<a class="nav-item nav-link" routerLink="viewShow">view show</a><br>

<a class="nav-item nav-link" routerLink="addMovie">add Movie</a><br >  
<a class="nav-item nav-link" routerLink="addTheatre">add Theatre</a><br>
<a class="nav-item nav-link" routerLink="addScreen">add Screen</a><br>
<a class="nav-item nav-link" routerLink="addShow">add Show</a><br>




</nav>
<router-outlet></router-outlet>

