

<table class="table table-bordered table-hover col-md-10 ">
    <thead>
      <th>Movie Id</th>
      <th>Movie Name</th>
      <th>Release Year</th>
      <th>Genre</th>  
      <th>Director</th>
      <th>Runtime</th>
      <th>Hero</th>
      <th>Heroine</th>
      <th>language</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movies ; let i=index">
        <td>{{mov.movieId}}</td>
        <td>{{mov.movieName}}</td>
        <td>{{mov.releaseYear}}</td>
        <td>{{mov.genre}}</td>
        <td>{{mov.director}}</td>
        <td>{{mov.runtime}}</td>
        <td>{{mov.hero}}</td>
        <td>{{mov.heroine}}</td>
        <td>{{mov.Language}}</td>
        <td><a class="btn btn-warning text-white" (click)="deleteMovie(i)">Delete</a></td>
      </tr>
    </tbody>
</table>

